<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>JSP0511</display-name>
  
  <!-- 웹 애플리케이션이 시작될때 필요한 정보를 등록한다. -->
  <context-param>
  	<param-name>DB_User</param-name>
  	<param-value>system</param-value>
  </context-param>
  <context-param>
  	<param-name>DB_Password</param-name>
  	<param-value>system123</param-value>
  </context-param>
  <context-param>
  	<param-name>DB_Name</param-name>
  	<param-value>orcl</param-value>
  </context-param>
  <!-- 자동포함 파일 저장하기 -->
  <jsp-config>
  	<jsp-property-group>
  		<url-pattern>/view/*</url-pattern>	<!-- 어떤 주소로 접근할때만(views폴더안에 있는 모든jsp가 실행될때) -->
  		<include-prelude>/commons/var.jsp</include-prelude>	<!-- 상단에 추가가 된다. -->
  		<include-coda>/commons/footer.jsp</include-coda>	<!-- 하단에 추가가 된다. -->
  	</jsp-property-group>
  </jsp-config>
  
  <!-- 에러 페이지 지정하기 -->
  <!-- 예외 타입으로 지정하기  -->
  <error-page>
  	<exception-type>java.lang.ArithmeticException</exception-type>
  	<location>/error/arithmetic.jsp</location>
  </error-page>
  <!-- 예외 코드로 지정하기 -->
  <error-page>
  	<error-code>500</error-code>
  	<location>/error/error500.jsp</location>
  </error-page>
  <error-page>
  	<error-code>404</error-code>
  	<location>/error/error404.jsp</location>
  </error-page>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>